* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #08364d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 4rem;
}
.pagination {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
button {
  margin-inline: 0.2rem;
  padding: 0.5rem 0.8rem;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  background-color: #a5a5a5;
  cursor: pointer;
}
#currentPage {
  background-color: #0d6efd;
}

button:active {
  box-shadow: 0 0 5px #0d6efd;
}

.list-group li {
  border-radius: 9px;
  list-style-type: none;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
}
.none {
  display: none;
}
